@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font: 14px Inter, "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

.grid-item {
  height: 500px;
  border: solid 1px #000;
}

/* NavBar */
nav li {
  white-space: nowrap;
}

nav img {
  max-height: 50px;
}

nav a {
  color: beige;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
}
/* NavBar End */
